.eggshell {
    color: #FAF3DD;
}

.black {
    color: #211B22;
}

.red {
    color: #CC3300;
}

.yellow {
    color: #FFC60A;
}

.green {
    color: #537A5A;
}

.background {
    background-color: #156064;
}